$blue = #319018
$bc = #e4e4e4
$fc = #fff

wh($width,$height)
    width $width
    height $height

sc($fz,$c)
    font-size $fz
    color $c

ct()
    position absolute
    top 50%
    transform translateY(-50%)
fj($type=space-between)
    display flex
    justify-content $type
    

