<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../asset/js/vue.js"></script>
</head>
<body>
    <h1>v-for</h1>
    <hr>
    <div id="app">
        <ul>
            <li v-for="(item,index) in sortItems">{{index}}:{{item}}</li>
        </ul>
        <ul>
            <li v-for="(student,index) in sortStudents">{{index+1}}:{{student.name}}-{{student.age}}</li>
        </ul>
        
    </div>
     
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                items: [1,3,6,8,3,4,5,6],
                students: [
                    {name: 'lelez',age: 21},
                    {name: 'huanhuan',age: 11},
                    {name: 'zhangming',age: 34},
                    {name: 'qiqi',age: 57},
                ]
            },
            computed: {
                sortItems: function() {
                    return this.items.sort(sortNumber)
                },
                sortStudents: function() {
                    return sortByKey(this.students,'age')
                }
            }
        });
        function sortNumber(a,b) {
            return a-b;
        }
        function sortByKey(array,key) {
            return array.sort(function(a,b){
                var x=a[key];
                var y=b[key];
                return ((x<y)?-1:((x>y)?1:0));
            })
        }
    </script>
</body>
</html>