<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../asset/js/vue.js"></script>
</head>
<body>
    <h1>v-model</h1>
    <hr>
    <div id="app">
        <p>原始文本信息：{{message}}llz</p> 
        <h3>文本框</h3>
        <p>v-model<input type="text" v-model="message"></p>
        <p>v-model.lazy<input type="text" v-model.lazy="message"></p>
        <p>v-model.number<input type="text" v-model.number="message"></p>
        <p>v-model.trim<input type="text" v-model.trim="message"></p>
        <hr>
        <h3>文本域</h3>
        <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea><br>
        <h3>多选框绑定一个值</h3>
        <input type="checkbox" id="duoxuan" v-model="isTrue">
        <label for="duoxuan">{{isTrue}}</label>
        <hr>
        <h3>多选框绑定数组</h3>
        <p>
            <input type="checkbox" id="llz" value="llz" v-model="webNames">
            <label for="llz">llz</label>
            <input type="checkbox" id="qiqi" value="qiqi" v-model="webNames">
            <label for="qiqi">qiqi</label>
            <input type="checkbox" id="panpan" value="panpan" v-model="webNames">
            <label for="panpan">panpan</label>
        </p>
        <p>{{webNames}}</p>
        <hr>
        <h3>单选框绑定</h3>
        <p>
            <input type="radio" id="one" value="男" v-model="sex">
            <label for="one">男</label>
            <input type="radio" id="two" value="女" v-model="sex">
            <label for="two">女</label>
            <p>你选择的性别是：{{sex}}</p>
        </p>
    </div>
     
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: 'hello world!',
                isTrue: true,
                webNames: [],
                sex: ''
            },
            methods: {
                
             },
            computed: {
                
            }
        });
        
    </script>
</body>
</html>